body {
  background: palegreen;
}

.counter {
  text-align: center;
  border: 4px solid red;
  height: 50px;
  width: 50px;
  margin: 25px auto 10px auto;
  font-size: 35px;
  background: yellow;
  color: red;
  font-weight: bold;
}

.wrapper {
  width: 340px;
  margin: 100px auto 10px auto;
  /*border: 2px solid red;*/
}

.item {
  border: 1px solid grey;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  margin-left: 8px;
  background: white;
}

.photo {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.show {
  visibility: visible;
}
